@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Raleway:ital,wght@0,200;1,200&display=swap");

// VARIABLES

$raleway: "Raleway", sans-serif;
$lora: "Lora", serif;

$beige: #ffffed;
$light-green: #9ff294;
$green: #75b36d;
$dark-green: #4b7346;

$lg: 2rem;
$md: 1.5rem;
$sm: 1.2rem;
$xsm: 1rem;

$font-sizes: (
  h1: $lg,
  h2: $md,
  h3: $sm,
  p: $xsm,
);

$glg: 1rem;
$gmd: 0.5rem;
$gsm: 0.25rem;

$pages: ("about", "services", "contact");

$t: 0.3s;

$loading: (w, e, l, c, o, m, e);

$nav-size: $glg * 3 + $md;

// MIXINS

@mixin resp {
  @media (max-width: 768px) {
    @content;
  }
}

// GLOBALS

.lora {
  font-family: $lora;
  font-weight: 400;

  &.thick {
    font-weight: 600;
  }
}

a {
  font-family: $lora;
  font-weight: 600;
  color: black;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity $t;

  &.is--active,
  &:hover {
    opacity: 1;
    text-decoration: line-through;
  }

  &.image-link {
    opacity: 1;
  }

  &.cta {
    font-size: $xsm;
    border: 1px solid black;
    padding: $gsm $gmd;
    border-radius: 10px;

    &:hover {
      text-decoration: none;
    }
  }
}

@each $e, $s in $font-sizes {
  #{$e},
  .#{$e} {
    font-size: $s;
    margin: 0;
    font-weight: 200;
    font-weight: 400;

    @include resp {
      font-size: $s * 0.85;
    }
  }
}

// STYLING

html,
body {
  margin: 0;
  font-family: $raleway;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
}

#gradient-canvas {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  --gradient-color-1: #ffffed;
  --gradient-color-2: #ffffed;
  --gradient-color-3: #9ff294;
  --gradient-color-4: #75b36d;
  // transform: scale(1.5);
  // top: -25%;
  // left: -25%;
}

@keyframes welcome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-screen {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $beige;
  background: linear-gradient(-55deg, $green, $beige, $beige, $light-green);
  color: $dark-green;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $t * 2 cubic-bezier(0.445, 0.05, 0.55, 0.95);

  h2 {
    @for $i from 0 through (length($loading)) {
      span {
        animation: welcome $t ease-in-out forwards;
        opacity: 0;

        &:nth-child(#{$i}) {
          animation-delay: #{$i * 0.1}s;
        }
      }
    }
  }

  &.fading {
    opacity: 0;
  }

  &.gone {
    display: none;
  }
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 $glg;
  height: $nav-size;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  a {
    margin-left: $glg;
  }
}

.header-logo {
  display: none;
  width: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  margin: $glg;

  @include resp {
    display: block;
  }
}

.signature {
  width: 30vw;
  z-index: 1;
  margin: $glg;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);

  @include resp {
    display: none;

    &.home {
      display: block;
    }
  }

  .signature-top {
    display: flex;
    align-items: center;
    border-bottom: solid 1px black;

    a {
      margin-left: $glg;

      img {
        width: 30vw * 0.15;
      }
    }
  }

  h1 {
    $size: 3vw;
    font-size: $size;
    line-height: $size;
  }

  p {
    $size: 1.2vw;
    font-size: $size;
    line-height: $size;
    width: 30vw;
    margin-top: 0.5vw;
  }
}

main {
  position: sticky;
  top: $nav-size;
  max-height: calc(100vh - $nav-size);
  z-index: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 2;
  overflow-y: auto;

  @include resp {
    max-width: 100%;
    text-align: left;
    right: auto;
    left: 0;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  article {
    transition: opacity $t;
    width: 62%;
    max-width: 60rem;
    margin: $glg;
    height: fit-content !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include resp {
      align-items: flex-start;
    }

    @include resp {
      width: 100%;
      max-width: 100%;
      padding-bottom: $nav-size - $glg;
    }

    .page-header {
      flex-direction: column;
      width: 30%;
      max-width: 15rem;
      min-width: 5rem;
      margin-bottom: $glg;

      h1 {
        font-family: $lora;
        // margin-bottom: $gsm;
      }

      .line {
        content: "";
        width: 100%;
        border-top: 1px solid black;
      }
    }

    .ctas {
      margin: $glg 0;
      display: flex;
      justify-content: flex-start;
      width: fit-content;

      .cta {
        margin-left: $gmd;

        @include resp {
          margin-left: 0;
          margin-right: $gmd;
          align-items: flex-start;
        }
      }
    }

    &.about {
      h3 {
        margin-bottom: $gmd;
        text-align: end;

        @include resp {
          text-align: left;
        }
      }

      .resp-title {
        display: none;
        font-family: $lora;
        font-weight: 600;

        @include resp {
          display: block;
        }
      }

      p {
        margin-bottom: $glg;
        display: none;

        @include resp {
          display: block;
        }
      }

      img {
        max-width: 10rem;
        max-height: 10rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin-bottom: $glg;
      }
    }

    &.services {
      h2 {
        margin-bottom: $gmd;
        line-height: $md;

        span {
          margin-left: $gsm;
          $font-size: $xsm;
          font-size: $font-size;

          @include resp {
            font-size: $font-size * 0.85;
          }
        }
      }
      h3 {
        margin-bottom: $glg;
      }
    }

    &.contact {
      h2 {
        margin-bottom: $glg;
      }

      h3 {
        cursor: pointer;
        text-decoration: underline;
        transition: opacity $t;

        .spacer {
          padding: 0 $gmd;
        }
      }
    }

    &.testimonials {
      .testimonial {
        flex-direction: column;
        margin-bottom: $glg;

        h3 {
          margin-bottom: $gsm;
        }

        p {
          font-style: italic;
        }
      }

      .ctas {
        margin-top: $gsm;
      }
    }
  }
}
